<!DOCTYPE html>
<html>

<head>
    <title>Contacto</title>
    <% include partials/head.html %>
</head>

<body id="bodyAcerca">
    <% include partials/navegacion.html %>

    <div class="container">
        <div class="row">
            <div class="col-6 text-center" id="servicio1">
                <div class="card" style="width: 18rem;">
                    <img src="/img/inteligencia.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Inteligencia De Negocios</h5>
                        <p class="card-text">Diseño, desarrollo,
                            mantenimiento y soporte de bodegas de datos
                            (data warehouse), así como el procesamiento de
                            información. Destinado a aquellas
                            organizaciones que manejan grandes volúmenes de información.</p>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img src="/img/mejora.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Mejora De Gestion</h5>
                        <p class="card-text">Reingeniería y mejora de
                            procesos. Orientado a empresas con alto
                            volumen de operación interna y direccionadas al
                            servicio al cliente.</p>
                    </div>
                </div>
            </div>

            <div class="col-6 text-center" id="servicio2">
                <div class="card" style="width: 18rem;">
                    <img src="/img/desarrollo.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Desarrollo De Sistemas</h5>
                        <p class="card-text">Diseño de soluciones y
                            optimización de procesos operativos.
                            Destinado a aquellas organizaciones que realicen
                            diversas tareas reiterativas.</p>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <img src="/img/optimizar.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Optimizacion De Procesos</h5>
                        <p class="card-text">Optimización de procesos
                            informáticos mediante programación eficiente
                            de software, sincronía de procesos y pequeños
                            ajustes en base de datos. Destinados a
                            aquellas organizaciones que posean medianos o grandes
                            sistemas y requieran reducir sus tiempos de
                            procesamiento.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<% include partials/footer.html %>

</html>