<!doctype html>
<html lang="es">

<head>
  <title>Home</title>
  <% include partials/head.html %>
</head>

<body>
  <% include partials/navegacion.html %>

  <div class="container">
    <header class="row">
      <div class="col-lg-12 text-center mt-100">
        <img src="/img/TDA.png" class="animated bounceIn" alt="logo">
      </div>
    </header>
  </div>

  <div class="container">
    <div class="row">
      <div id="infoempresa p-50">
        <p>
          TheDataAge es una empresa que nace para atender las necesidades
          de
          las Organizaciones en la adecuada administración de
          la información disponible que les permita alcanzar los logros
          operativos propuestos.

          El equipo de TheDataAge, en los últimos 15 años ha participado
          en
          proyectos de mejora de gestión, integración de
          sistemas y análisis de información en más de 10 empresas de
          servicios públicos en Latinoamérica y Europa.

          La componen empresas establecidas en Montevideo Uruguay y
          Managua
          Nicaragua, siendo su mercado objetivo actual los
          países de América Latina.
        </p>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="acercade">
    <div class="row text-black p-4 text-center">
      <div class="col-sm-12">
        <i class="fas fa-laptop-code fa-10x"></i>
      </div>
      <div class="col-sm-12">
        <h3>THE DATA AGE</h3>
        <p id="section2">TheDataAge dispone de un variado portafolio de servicios con el propósito de optimizar los
          procesos de las
          organizaciones mediante la gestión de la información logrando aumento en la producción, menores tiempos de
          trabajo, mayor efectividad en las acciones a menores costos</p>
      </div>

    </div>
  </div>

  <% include partials/footer.html %>
</body>

</html>